{% extends "layout.html" %}
{% block content %}
<img class="img_info" 
    src="../static/Website_images/{{ Character[0] }}.png" 
    srcset="../static/Website_images/{{ Character[0] }}.png 100x, ../static/Website_images/{{ Character[0] }}.png 200x" 
    alt="{{ Character[0] }}">
{% for label, value in CharacterFields %}
  {% if value != 2 %}
    {% set label_display = label %}
    {% if label in ['Apdko_percent_ps2', 'How_to_play_matchup', 'Pdko_percents_ps2',  'Pdko_percent_ps2'] %}
      {% set label_display = label.replace('_', ' ') %}
    {% endif %}
    <p class="info-text"><strong>{{ label_display }} :</strong> {{ value }}</p>
  {% endif %}
{% endfor %}
{% endblock %}