<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chimpanzine bannanini. Monkey Monkey Monkey uche ballannuchi</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        <div class="title">
            <h1>HEADER</h1>
        </div>
        <div class="navbar">
            <button class="navbar-button">Match ups</button>
            <button href="home.html" class="navbar-button">Home</button>
            <button class="navbar-button"> <a href="/all_characters"> class="navbar-button">Donkey kong character tech</button>
        </div>
    </div>
    <div class="main-body">
        <p> {% block content %} {% endblock %}</p>

