<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chimpanzine bannanini. Monkey Monkey Monkey uche ballannuchi</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-color:rgb(26 29 33);">
    <header>{% include "header.html" %}</header>
    <nav> 
        <h1 class="tag">Match ups</h1>   <h1 class="tag">home</h1>   <h1 class="tag">donkey Kong character tech</h1>
    </nav>
    <main>{% block content %} {% endblock %}</main>
    <footer> Coohen hurt me brain </footer>
</body>
</html>

