{% extends "layout.html" %}
{% block content %}
<h1>  Donkey kong has some charcter spasific tech that if mastered can be deadly against most of the cast. This can range from his infamouse pdko to his more niche up b oos. This page will be dedicated to explaining all the tech that dk can do.  </h1>

<style>
    .new_move{
        background-color: orange;
        padding:100%;
        margin:0;
    }

    hr{
        height:2px ;
        background-color:#400406 ;
        /* background-color: linear-gradient(135deg #400406, #2e0809); */
        border: none;
    }
</style>
    
<hr>

<h2> Sticky walk </h2>

<p> Sticky walk is where you cargo grab your aponent and then try walk of the stage with your controll stick pointed down and slightly forward. If done right dk should be walking but not going off stage. Once the aponent gets out of the grab up b imediatly and then punish from there. You can punish with footstool if they go low or you can punish with bair if they up and to the side or you could drop down nair to catch people waiting. This can lead to early stocks or and advantages position but it dosn't work on all characters as some have options faster then your up b. </p>

<hr>

<h2> Pdko </h2>

<p> Pdko kills really early </p>

<hr>

<h2> Reverse punch and cancles </h2>

<p> To reverse your punches you need to flick the stick in the oposite direction and then press nutral B. You might use this to reverse yourself in the air, jump and then bair or you could use a fully charaged punch to just catch them by surprise and kill them. You can also do it by pressing b then flicking the stick within a few frams which will not only reverse it but keep your momentume. This can only work with fully charged punch To cancel punch press shield to stop and if you release fast enough you wont be put in your shield. </p>

<hr>

<h2> dtilt trips </h2>

<p> dtilt has a 40% chance to trip and can be used twice befor it is unsafe. The trip is reactble either by sound que or by having a good enough reaction time so it is good to practise. </p>

{% endblock %}