{% extends "layout.html" %}
{% block content %}
<h1>  Donkey kong has some charcter spasific tech that if mastered can be deadly against most of the cast. This can range from his infamouse pdko to his more niche up b oos. This page will be dedicated to explaining all the tech that dk can do.  </h1>

<h2> Sticky walk </h2>

<p> Sticky walk is where you cargo grab your aponent and then try walk of the stage with your controll stick pointed down and slightly forward. If done right dk should be walking but not going off stage. Once the aponent gets out of the grab up b imediatly and then punish from there. You can punish with footstool if they go low or you can punish with bair if they up and to the side or you could drop down nair to catch people waiting. This can lead to early stocks or and advantages position but it dosn't work on all characters as some have options faster then your up b. </p>

<h2> Sticky walk </h2>

{% endblock %}