.l{
    font-family: 'Helvetica';
    text-shadow: 2px 2px 8px #FF0000;
    text-emphasis-color:#FF0000 ;

}


.a{
    font-family: 'Helvetica';
    text-shadow: 2px 2px 8px #FF0000;
    color:  rgb(255, 255, 255);
}