
body {
    background-color: #424B54;
    margin: 0px;

}

.main-body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #E8DB7D;
    padding: 20px;
    height: 100%;
}

.title {
    text-align: center;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
}

.navbar-button {
    align-items: center;
    margin: 0px 70px 0px 70px;
    background-color: #400406;
    color: white;
    border-radius: 10px;
    padding:20px;
    padding-left: 40px;
    padding-right: 40px;
    
}

.link {
color: #ffffff;
font-family: 150px;
text-decoration: none;
}


