
*{
text-decoration: none;
}
body {
    background: linear-gradient(180deg, #424b54,#400406);
    margin: 0px;

}

.header {
    margin-bottom: 40px;
}

.main-body {
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    height: 100%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    transition: background 0.3s ease, color 0.3s ease;
}

.navbar-button {
    align-items: center;
    margin: 0px 70px 0px 70px;
    background: #bbbbbb;
    color: #424B54;
    border-radius: 10px;
    padding:30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    transition: background 0.3s ease, color 0.3s ease; 
}

.link {
color: #ffffff;
font-family: 150px;
text-decoration: none;
}

img{
    width: 30%;
    border-radius: 50x;
    transition-duration: 0.3s;
    outline: auto;
    outline-width: 10px;
    outline-style: solid;
    outline-color: #424b54;
    color: black;
    
}

img:hover {
    scale: 120%;
    rotate: 0deg;
  }

.three-column{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 60px;
    width: 100%;
    gap: 120px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    transition: background 0.3s ease, color 0.3s ease;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 4 columns */
    gap: 100px;
    padding: 20px;
  }

.card img {
    width: 100%;            
    height: 200px;            
    object-fit: cover;         
    display: block;
    border-radius: 8px;
  }

  .img_info{
  align-self: center;
  
  }

.card {
    text-align: center;
  }

.navbar-button:hover {
  background: #424b54;
  color: #ffffff;
  box-shadow: 0 8px 20px rgba(46, 204, 113, 0.6);
  }

.new_move{
    background-color: orange;
    padding:100%;
    margin:0;
}

hr{
    height:2px ;
    background-color:#400406 ;
    border: none;
}

h1 {
    font-size: 8rem;
    margin-bottom: 0;
    font-weight: 700;
    letter-spacing: 8px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  }

.error {
    display: inline-block;
    padding: 14px 32px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #424B54;
    background: #ffffff;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
    text-align:center;
}

.error:hover {
    background: #424b54;
    color: #ffffff;
    box-shadow: 0 8px 20px rgba(46, 204, 113, 0.6);
 }

 .container{
  text-align: center;
 }